
@{
    ViewData["Title"] = "EmailConfirmation";
}

<h2>EmailConfirmation</h2>
        An email has been sent to @ViewBag.Email, please confirm your
        email address by clicking on the provided link.

