@model TicTacToe.Models.GameInvitationModel
@{
    ViewData["Title"] = "GameInvitationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    @Localizer["You have invited {0} to play a Tic-Tac-Toe game with you, please wait until the user is connected",
Model.EmailTo]
</h1>
@section Desktop{<h2>@Localizer["DesktopTitle"]</h2>}
@section Mobile {<h2>@Localizer["MobileTitle"]</h2>}
@section Scripts{
    <script>
            $(document).ready(function () {
              GameInvitationConfirmation('@Model.Id');
            });
    </script>
}

