
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>EmailConfirmation</h2>
An email has been sent to @ViewBag.Email, please confirm your email address by clicking on the provided link.
@section Scripts
    {
    <script>
        $(document).ready(function () {
            EmailConfirmation('@ViewBag.Email');
        });
    </script>
}