@using Microsoft.AspNetCore.Http
@model TicTacToe.Models.GameSessionModel
@{
    var email = Context.Session.GetString("email");
}
<div id="gameBoard">
    <table>
        @for (int rows = 0; rows < 3; rows++)
        {
            <tr style="height:150px;">
                @for (int columns = 0; columns < 3; columns++)
                {
                    <td style="width:150px; border:1px solid #808080" id="@($"c_{rows}_{columns}")">
                        @{
                            var position = Model.Turns?.FirstOrDefault(turn => turn.X == columns && turn.Y == rows);
                            if (position != null)
                            {
                                if (position.User == Model.User1)
                                {
                                    <i class="glyphicon glyphicon-unchecked" style="width:100%;height:100%"></i>
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-remove-circle" style="width:100%;height:100%"></i>
                                }
                            }
                            else
                            {
                                <a class="btn btn-default btn-SetPosition" style="width:150px; min-height:150px;" data-X="@columns" data-Y="@rows">
                                    &nbsp;
                                </a>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </table>
</div>
<div class="alert" id="divAlertWaitTurn">
    <i class="glyphicon glyphicon-alert">Please wait until the other user has finished his turn.</i>
</div>